.grid {
    display:grid;

    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.title {
    background-color: red;
    width: 100%;
    height: 150px;

    /* grid-column-end: 1;
    grid-column-end: 5; */
    /* Comienza en la línea 1, y termina en la línea 5 */
    grid-column: 1 / 5;
    /* Comienza en la línea 1, y termina en la línea 2 */
    grid-row: 1 / 2;
}

.content {
    background-color: blue;
    width: 100%;
    height: 150px;

    /* Comienza en la línea 1, y abarca 2 espacios */
    grid-column: 1 / span 2;
}

.sidebar {
    background-color: yellow;
    width: 100%;
    height: 150px;

    grid-column: 4 / span 1;
}

.footer {
    background-color: green;
    width: 100%;
    height: 150px;

    grid-column: 1 / 5;
    grid-row: 3 / 4;
}